.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.narocnine-list {
  display: flex;
  flex-wrap: wrap;
}

.narocnine-row {
  display: flex;
  width: 100%;
}

.narocnina-tab {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

/* Ensures each tab has equal width and only 3 per row */
@media (min-width: 600px) {
  .narocnina-tab {
    width: calc(33.333% - 10px);
  }
}

.narocnina-tab .usage-bar {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  border-radius: 4px;
  overflow: hidden; /* Ensures the inner bar doesn't exceed the outer bar */
}

.narocnina-tab .usage-bar div {
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.narocnina-tab button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.narocnina-tab button:hover {
  background-color: #45a049;
}

.narocnina-tab button {
  margin: 20px;
}

.usage-bar .usage-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
